header
    //Header if not logged in
    .logo-container
        a(href="/splash").navbar-logo-text MetaCard
    .navbar-right
        a(href="/signin").navbar-right-text Sign in
        a(href="/blog").navbar-right-text Blog
            