header
    //Header if not logged in
    div.logo-container
        .navbar-logo-text
            a(href="/splash") MetaCard
    div.navbar-right
        .navbar-right-text
            a(href="/signin") Sign in
        .navbar-right-text
            a(href="/blog") Blog